html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.body{
    background: #FFDF5C;
    display: grid;
    grid-template-areas: 
    "navigation navigation navigation" 
    "header header header" 
    "content . menu" 
    "footer footer footer";
grid-template-columns: 10fr 1fr 4fr;
}

.main__header{
    grid-area: header;
}


.navigation__list{
    grid-area: navigation;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.navigation__item{
    display:flex;
    width: 90px;
    align-items: center;
}


.main__content{
    grid-area: content;
}

.main__menu{
    display: flex;   
    grid-area: menu;
}

.main__menuLink{
    display: flex;
    flex-direction: column;
}

.main__footer{
    grid-area: footer;
}

@media (max-width: 640px) {
    .navigation__list{
        flex-direction: column;
        flex-wrap: nowrap;
        display: none;
    }
    .navigation__list--visible{
        display: flex;
    }
    .navigation__item{
        margin: 16px;
    }
}